# NALU
results*
restart*
sideset*
*.e
*.e.*
*.rst.*
*.rst*
*.exo


_*
!_templates/

!_setup/



*.log
slurm-*

*.out

*forces*.dat

# bat files
home_to_*.bat
kestrel_to*.bat
unity_to*.bat
unity_*
scp*.bat




*.pdf
*.png
*.mp4
*.avi


cases*


*_airfoil.txt


*_bkp
*_old
*_unity

ffa/static/input_old.yaml
ffa/static/input_shreyas.yaml
ffa/static/input_sorted.yaml
ffa/static_2d/input_sorted.yaml
ffa/static_polar_2dt/
